
body {
    background: #f4a460;
    margin:   5px;
      }
/* counter*/
/*.num_tiles {
  width:30px;
  height: 30px;
  background-color: #888888;
  color: #ffffff;
  font-size: 22px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family: verdana;
  vertical-align: center;
}*/

/* NAV section to place across the top of the page*/
nav {
  background: #dcdcdc;
  float: none;
  text-align: center;
  }

  ul {
    list-style: none;
    width: 100%;
    }  

  li {
  display: inline;
  }

  a {
   padding: 3px;
  text-decoration: none;
  }

a:hover {
    color: white; 
      }

*/
/* main verbiage body of web page */

#container {
   font-family: Helvetica neue, roboto;
   background: #c92a2a;
        }

/* pictures with links */

#images {
  height: auto;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
  background: #2ac987;
 }

#pea-ridge {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
        }
#picacho {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
        }
#mine-creek {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
        }
#phillip {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
          }
#lexington {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
          }
#glorieta {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
          }
#chustenahlah {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
          }
#galveston {
  width: 32%;
  height: 300px;
  border: 1px solid;
  border-radius: 3px;
  border-color: #ffffe0;
          }
#footer.counter {
  text-align: right; 
}
#footer {
  clear: both;
  background: #44413f;
  color: #11847c;
  bottom: 0e;
  width: 100%;
  height: 20px;
  text-align: center;
  position: absolute;
         }
